<table class="table table-striped table-hover table-sm ps-3">
  <tr>
    <th class="table-dark text-end pe-3 pe-3">タイトル</th>
    <td class="ps-3">{{ book.title }}</td>
  </tr>
  <tr>
    <th class="table-dark text-end pe-3">分類</th>
    <td class="ps-3">{{ book.classification_detail.classification }}</td>
  </tr>
  <tr>
    <th class="table-dark text-end pe-3">分類詳細</th>
    <td class="ps-3">{{ book.classification_detail }}</td>
  </tr>
  <tr>
    <th class="table-dark text-end pe-3">著者または訳者</th>
    <td class="ps-3">{% if book.authors %}{{ book.authors }}{% else %}ー{% endif %}
  </tr>
  <tr>
    <th class="table-dark text-end pe-3">ISBN</th>
    <td class="ps-3">{{ book.isbn | default_if_none:"ー" }}</td>
  </tr>
  <tr>
    <th class="table-dark text-end pe-3 text-end pe-3">出版社</th>
    <td class="ps-3">{{ book.publisher | default_if_none:"ー" }}</td>
  </tr>
  <tr>
    <th class="table-dark text-end pe-3">発行日</th>
    <td class="ps-3">{{ book.published_at | default_if_none:"ー" }}</td>
  </tr>
  <tr>
    <th class="table-dark text-end pe-3">管理部署</th>
    <td class="ps-3">{{ book.division }}</td>
  </tr>
  <tr>
    <th class="table-dark text-end pe-3">廃棄</th>
    <td class="ps-3">{{ book.disposed | yesno:"済,ー" }}</td>
  </tr>
  {% if book.disposed %}
    <tr>
      <th class="table-dark text-end pe-3">廃棄日</th>
      <td class="ps-3">{{ book.disposed_at }}</td>
    </tr>
  {% endif %}
  <tr>
    <th class="table-dark text-end pe-3">登録日時</th>
    <td class="ps-3">{{ book.created_at }}</td>
  </tr>
  <tr>
    <th class="table-dark text-end pe-3">更新日時</th>
    <td class="ps-3">{{ book.updated_at }}</td>
  </tr>
</table>