{% extends 'base.html' %}

{% block inner_body %}
  <h1>部署削除</h1>
  <div>部署コード: {{ division.code }}</div>
  <div>部署名: {{ division.name }}</div>
  <p>上記の部署を削除しますか?</p>
  <form method="post">
    {% csrf_token %}
    <button type="submit">削除</button>
  </form>
  <div>
    <a href="{% url 'divisions:division-list' %}">部署一覧</a>
    <a href="{% url 'divisions:division-detail' division.code %}">部署詳細</a>
    <a href="{% url 'divisions:division-update' division.code %}">部署更新</a>
  </div>
{% endblock inner_body %}