{% extends 'base.html' %}

{% block inner_body %}
  <h1>部署{{ action }}</h1>
  <form method="post">
    {% csrf_token %}
    {{ form.as_p }}
    <button type="submit">{{ action }}</button>
  </form>
  <div>
    <a href="{% url 'divisions:division-list' %}">部署一覧</a>
    {% if action == "更新" %}
      <a href="{% url 'divisions:division-detail' form.instance.code %}">部署詳細</a>
      <a href="{% url 'divisions:division-delete' form.instance.code %}">部署削除</a>
    {% endif %}
  </div>
{% endblock inner_body %}