{% extends 'base.html' %} {% block inner_body %}
  <h1>部署一覧</h1>
  {% if division_list %}
    <ul>
      {% for division in division_list %}
        <li>
          {{ division.code }}: {{ division.name }}
          <a href="{% url 'divisions:division-detail' division.code %}">詳細</a>
          <a href="{% url 'divisions:division-update' division.code %}">更新</a>
          <a href="{% url 'divisions:division-delete' division.code %}">削除</a>
        </li>
      {% endfor %}
    </ul>
  {% else %}
    <p>部署が存在しません。</p>
  {% endif %}
  <a href="{% url 'divisions:division-create' %}">部署登録</a>
{% endblock inner_body %}
